<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="desknote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="桌面便签.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <desknote.Properties.Settings>
            <setting name="header" serializeAs="String">
                <value>-16711808</value>
            </setting>
            <setting name="content" serializeAs="String">
                <value>-1828</value>
            </setting>
            <setting name="topmost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="content_path" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="foot" serializeAs="String">
                <value>-16711808</value>
            </setting>
            <setting name="mydocument" serializeAs="String">
                <value />
            </setting>
        </desknote.Properties.Settings>
        <桌面便签.Properties.Settings>
            <setting name="header" serializeAs="String">
                <value>-16711808</value>
            </setting>
            <setting name="content" serializeAs="String">
                <value>-1828</value>
            </setting>
        </桌面便签.Properties.Settings>
    </userSettings>
</configuration>